@font-face {
    font-family: roboto;
    src: url(../roboto.ttf);
}

.iimg {
    margin-top: -9%;
    margin-left: 90%;
    position: fixed;
}

.h1 {
    padding: 2%;
}

.img1 {
    padding-left: 40px;
    padding-right: 40px;
}

.img2 {
    padding-left: 40px;
    padding-right: 40px;
}

.img3 {
    padding-left: 40px;
    padding-right: 40px;
}

.img4 {
    padding-left: 40px;
    padding-right: 40px;
}

.img5 {
    padding-left: 40px;
    padding-right: 40px;
}

.img6 {
    padding-left: 40px;
    padding-right: 40px;
}

/* for menu*/
nav ul li ul li a:hover {
    height: 75px;
    width: 210px;
    border-radius: 0 0 20px 20px;
}

/*---------------------------*/

.overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.container:hover .overlay {
    display: block;
    opacity: 1  ;
}

.container:hover .img1 {
    content: url(../img/memoire\ vive/hCorsair\ Vengeance\ SO-DIMM\ DDR4\ 16Go\ 2400\ MHz\ CL16.png);
    opacity: 0.25;
}

.container:hover .img2 {
    content: url(../img/memoire\ vive/hCrucial\ Ballistix\ Black\ 16Go\ RGB\ DDR4\ 3200\ MHz\ CL16.png);
    opacity: 0.25;
}

.container:hover .img3 {
    content: url(../img/memoire\ vive/hCrucial\ Ballistix\ Red\ 16Go\ RGB\ DDR4\ 3600\ MHz\ CL16.png);
    opacity: 0.25;
}

.container:hover .img4 {
    content: url(../img/memoire\ vive/hG.Skill\ Aegis\ 8Go\ DDR4\ 3000\ MHz\ CL16.png);
    opacity: 0.25;
}

.container:hover .img5 {
    content: url(../img/memoire\ vive/hHyperX\ Fury\ RGB\ 8Go\ DDR4\ 2666MHz\ CL16.png);
    opacity: 0.25;
}

.container:hover .img6 {
    content: url(../img/memoire\ vive/hTeam\ Group\ VULCAN\ Z\ Red\ 8Go\ DDR4\ 3200MHz\ CL16.png);
    opacity: 0.25;
}

.container:hover .text {
    display: block;
    opacity: 1  ;
}

.text {
    position: absolute;
    color: white;
    font-size: 28px;
    margin-top: -290px;
    margin-left: 15px;
    display: none;
    user-select: none;
}